/* 텍스트 폰트패밀리 */
@font-face {
    font-family: 'Love Ya Like A Sister';
    src: url('@/assets/fonts/LoveYaLikeASister-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GamjaFlower-Regular';
    src: url('@/assets/fonts/GamjaFlower-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ownglyph';
    src: url('@/assets/fonts/ownglyph.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TTWanjudaedunsancheB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/TTWanjudaedunsancheB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'TTWanjunuricheR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/TTWanjunuricheR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html,
body{
    height: 100%;
}

/* 텍스트 클래스 */
.text_01 {
    font-size: 1.65em;
    line-height: 1.8rem;
    font-weight: 700;
}
.text_02 {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.8rem;
}
.text_03 {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.8rem;
    font-weight: 700;
}
.text_04 {
    color: rgb(37 99 235);
    font-size: 1rem;
}
.text_05{
    font-size: 1.2rem;
    font-weight: 700;
}